<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <div class="container text-center">
      <h1><strong>Тримати фінанси під котролем легко</strong></h1>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <%= image_tag "credit-squeeze-522549_1920.jpg", class: "rounded img-fluid" %>
    </div>
  </div>
</div>
