<h1>Editing wallet</h1>

<%= render "form", wallet: @wallet %>

<br>

<div>
  <%= link_to "Show this wallet", @wallet, class: "btn btn-success" %> |
  <%= link_to "Back to wallets", wallets_path, class: "btn btn-success" %>
</div>
