<div id="<%= dom_id category %>">
  <div class="row">
    <h5 class="col-2 border border-white"><strong>Назва категорії:</strong></h5>
    <h5 class="col-8 border border-white"><%= category.name %></h5>
  </div>

  <div class="row">
    <h5 class="col-2 border border-white"><strong>Короткий опис:</strong></h5>
    <h5 class="col-8 border border-white"><%= category.description %></h5>
  </div>
</div>
