<div id="<%= dom_id category %>">
  <p>
    <strong>Назва категорії:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Короткий опис:</strong>
    <%= category.description %>
  </p>

</div>
