<h1>Звіт по категоріям</h1>
<form action="/reports/result_by_category" metod="GET" id="report_by_category">
    <label for="start_date">Дата YYYY-MM-DD</label>
    <input type="date" id="start_day" name="start_day" required><br>
    <label for="end_date">Дата YYYY-MM-DD</label>
    <input type="date" id="end_day" name="end_day" required><br>
    <label for="otype">Тип операції</label>
    <select id="otype" name="otype">
        <option value="">Вибери тип операції</option>
        <option value="expense">Витрата</option>
        <option value="income">Дохід</option>
    </select><br>
    <label for="wallet">Гаманець</label>
    <select id="wallet" name="wallet">
        <option value="">Вибери гаманець</option>
    </select><br>
    <input type="submit" value="Згенерувати">
    <input type="reset" value="Очистити">
</form>