<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container pt-2">
  <div class="mb-5">
    <h1 class="text-center">Звіт по датах (<%= @type %>)</h1>
  </div>
 <canvas id="myChart"></canvas> 
</div>

 <script>
  const ctx = document.getElementById('myChart');
  const data = {
  labels: <%= raw @dates %>,
  datasets: [{
    label: 'грн',
    data: <%= @sums %>,
    fill: false,
    borderColor: '#0BCE5A',
    tension: 0.1
  }]
};

const config = {
  type: 'line',
  data: data,
  options: {
        scales: {
            y: {
                min: 0
            }
        }
    }
};

const myChart = new Chart(ctx, config);
</script> 
